@mixin authorxs_text($size, $weight, $height, $color) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    color: $color;
  }
.authorxs_main{
    padding: 24px;
    border-radius: 16px;
    background-color: white;
    .authorxs_img{
        background-image: url(../image/authorimage.png);
        width: 48px;
        height: 48px;
        border-radius: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;

    }
    .col-md-6{
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                list-style: none;
            }
            li:first-child{
                p{
                  @include authorxs_text(18px,500 ,24.3px ,$cardmoduletextbody );
            font-family: $font-jakarta-med; 
            margin-bottom: 0; 
                }
            
            
            }
            li:last-child{
                p{
                  @include authorxs_text(16px,400 ,24px ,$card_module_info);
            font-family: $font-jakarta-light;  
                }
            
            
            }
        }
        button:first-child{
            
            background-color: $card_module_icon_color;
            padding: 16px 32px 16px 32px;
            border-radius: 100px;
            @include authorxs_text(16px,600 ,24px ,white);
            font-family: $font-jakarta-light;
            border: none;

        }
        button:last-child{
            background-color: white;
            padding: 16px 32px 16px 32px;
            border-radius: 100px;
            @include authorxs_text(16px,600 ,24px ,$card_module_icon_color);
            font-family: $font-jakarta-light;
            border: 1px solid $card_module_icon_color;
            margin-left: 2%;
        }
    }
}