@mixin course-list-style($size, $weight, $hegiht, $family, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $hegiht;
  font-family: $family;
  color: $color;
}
.course-list-main {
  padding: 16px 16px 0px 16px !important;
  border-radius: 16px;
  border: 1px solid $landing_text_color;
  display: flex;
  margin-bottom: 4%;
  .course-list-img {
    display: inline-block;
    width: 190px;
    height: 100px;
    margin-right: 2%;
    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 6px;
    }
  }
  .col-md-7 {
    h5 {
      @include course-list-style(
        20px,
        500,
        26px,
        $font-jakarta-plus,
        $cardmoduletextbody
      );
    }
    .course-content-title {
      p {
        @include course-list-style(
          16px,
          400,
          24px,
          $font-jakarta-plus,
          $card_module_info
        );
        margin-right: 1%;
        display: inline-block;
      }
      .overall-star {
        @include course-list-style(
          16px,
          400,
          24px,
          $font-jakarta-plus,
          $card_module_info
        );
        display: inline-block;
        margin-left: 1%;
      }
    }
    .course-content-info{
      ul{
        list-style: none;
        display: flex;
        padding: 0;
        width: 100%;
        li{
          width: 20%;
          list-style: none;
          
          p{
            display: inline-block;
            @include course-list-style(
              14px,
              400,
              21.7px,
              $font-jakarta-plus,
              $card_module_info
            );
            margin-left: 2%;
          }
        }
      }
    }
  }h4 {
  @include course-list-style(
    32px !important,
    bold !important,
    38.4px !important,
    $font-general,
    $cardmoduletextbody
  );
  padding-top: 15%;
  padding-left: 65%;
}
}

