@mixin footer_text_style($size,$weight,$height,$color,$family){
    font-size: $size;
    font-weight: $height;
    line-height: $weight;
    color: $color;
    font-family: $family;

}
.footer_main{
    background-color: $infoiconcol;
    position: relative;
    padding: 100px 0px 0px 0px;
    overflow-x: hidden;
    i{
        position: absolute;
        left: 0;
        top: 0;
    }
    .cta{
        z-index: 999;
        text-align: center;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            h1{
               @include footer_text_style(72px,79.2px  ,bold,white ,$font-general)
            }
            p{
                @include footer_text_style(20px,26px ,400 ,$landing_text_color ,$font-jakarta-light );
                margin-top: 3%;
            }
            button{
                @include footer_text_style(18px,24.3px ,600 ,$infoiconcol,$font-jakarta-plus );
                padding: 20px 40px 20px 40px;
                background-color: $uicolor;
                border-radius: 1000px;
                margin-top: 5%;
                border: none;
                outline: none;
            }
           
            
        }
    }
    }
    .logos{
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            margin-top: 5%;
            li{
                list-style: none;
            }
        }
    }
    .footer_nav{
        margin-top: 6%;
position: relative;
display: inline-block;
.row:after{
    position: absolute;
    content: "";
    border-bottom: 1px solid #7C7C7C;
    width: 100%;
    bottom: -15%;

}
        .col-md-5{
            ul{
                list-style: none;
                padding: none;
                margin: none;
                li{
                    list-style: none;
                    p{
                        @include footer_text_style(16px,24px ,400 ,$landing_text_color ,$font-jakarta-light);
                        margin-top: 3%;
                    }
                }
                li:first-child{
                    div{
                        width: 40px;
                        height: 40px;
                        background-image: url(../image/Edtechfooter.png);
                        display: inline-block;
                    }
                  
                p{
                    @include footer_text_style(32px,38.4px ,800 ,$white,$font-be-vietnam);
                   display: inline-block;
                   margin-left: 3%;
                }
                }
               
            }
           
        }
        .col-md-2{
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                .footer_nav_head{
                    @include footer_text_style(18px,24.3px ,600 ,$white,$font-jakarta-plus );
                    margin-bottom: 3%;
                }
                li{
                    list-style: none;
                    p{
                        @include footer_text_style(16px,24px ,400 ,$landing_text_color,$font-jakarta-plus );  
                    }
                }
            }
        }
    }
    .col-md-10{
        margin-top: 6%;
        .row{
            justify-content: space-between;
            .copyright{
                p{
                    @include footer_text_style(14px,21.7px ,400 ,$landing_text_color,$font-jakarta-plus );
                }
            }
            .right-logos-footer{
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    li{
                        list-style: none;
                        margin-left: 18%;
                    }
                }
            }
        }
    }
}