.landing-page-courses-main {
  padding: 100px 124px 100px 124px !important;
 
  .landing-browse-line{
    width: 107%;
    height: 2px;
    display: inline-block;
    background-color: $landing_text_color;
    margin-bottom: 4%;
  }
}
