@mixin textstyle {
  font-size: 16px;
  font-weight: 400;
  font-family: $font-jakarta-light;
  color: #252525;
}
.cardmain {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  padding: 24px 24px 0px 24px;
  .avatar {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../image/Avatarimg.png");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  .col-md-8 {
    ul {
      list-style: none;
      padding-left: 1rem !important;
      li:first-child {
        list-style: none;
        @include textstyle();
      }
      li:last-child {
        list-style: none;
        font-size: 16px;
        font-weight: 500;
        font-family: $font-jakarta-med;
        color: #7c7c7c;
      }
    }
  }

  .col-md-12 {
    p {
      @include textstyle();
    }

    li {
      i {
        color: #ffc761;
      }
    }
  }
}
