.upcoming-events-main{
    background-color: $author_info_color;
    padding: 24px 80px 24px 80px !important;
    h4{
        font-size: 32px;
        font-weight: 600;
        font-family: $font-general;
        color: $cardmoduletextbody;
        margin-bottom: 3%;
    }
}
