$uicolor: #32bca3;
$uibackcolor: #ebf9f6ff;
$infocolor: #7C7C7C;
$infoiconcol:#1C1C1C;
$cardmoduletextbody:#252525;
$card_module_info:#7C7C7C;
$card_module_icon_color:#32bca3;
$author_info_color:#F9F9F9;
$landing_text_color:#E0E0E0;
