@mixin become_author_text($size, $weight, $height, $color,$family) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    color: $color;
    font-family: $family;
  }
.becomeauthor_main{
    padding: 100px 124px 100px 124px !important;
    text-align: center;
    h2{
        @include become_author_text(52px,bold ,57.2px ,$cardmoduletextbody,$font-general )
    }
    p{
        @include become_author_text(18px,400 ,24.3px ,$font-jakarta-plus,$font-general )
    }
    ul{
        margin-top: 6%;
        list-style: none;
        padding: 0;
        display: flex;
        li{
            margin-right: 2%;
            list-style: none;
             h5{
                margin-top: 4%;
                @include become_author_text(24px,500 ,28.8px ,$font-general ,$cardmoduletextbody )
             }
             p{
                @include become_author_text(16px,400 ,24px ,$font-jakarta-plus ,$card_module_info) 
             }
        }
        li:last-child{
            margin-right: 0 !important;
        }
    }
}